body {
  background-color: #fff234;
  color: #cc0099;
  font-size: 30px;
  font-family: "Cambria";
}

#navbar {
  background-color: #002200;
  color: #cc0099;
  font-size: 20px;
  font-family: "Bookman Old Style";
}

#banner {
  background-color: #00ff00;
  background-image: url("./images/NBA-Map-2012.png");
  color: #cc0099;
  text-align: center;
  font-size: 30px;
  font-family: "Helvetica";
}

#content {
  background-color: #fff234;
  color: #cc0099;
  font-size: 30px;
  font-family: "Cambria";
}

#footer {
  background-color: #000000;
  color: #ffffff;
  text-align: right;
  font-size: 20px;
  font-family: "Bookman Old Style";
}
