body {
  background-color: ff3200;
  color: blue;
  font-size: 20px;
}

#navbar {
  background-color: white;
  color: blue;
}

#banner {
  background-color: white;
  color: blue;
}

#content {
  background-color: #00e600;
  color: blue;
}

#content1 {
  background-color: red;
  color: blue;
}

#right {
  float: right;
  width: 50%;
}

#footer {
  background-color: white;
  color: blue;
}

img {
  padding: 50px;
}
