body {
  background-color: white;
  color: blue;
}

#navbar {
  background-color: white;
  color: blue;
}

#banner {
  background-color: white;
  color: blue;
}

#content {
  background-color: white;
  color: blue;
}

#footer {
    background-color: white;
  color: blue;
}
