body {
  background-color: white;
  color: purple;
  font-size: 40px;
}

#navbar {
  background-color: ;
  color: blue;
}

#banner {
  background-color: black;
  color: black;
}

#content {
  background-color: purple;
  color: white;
}

#right {
  float: right;
  width: 50%;
}

#footer {
  background-color: black;
  color: blue;
}

img {
  padding: 50px;
}
